@import './common.less';


.home-page {
    position: relative;
    display: flex;
    flex-direction:  row;
    position: absolute;
    z-index: 100;
    top: 50vh;
    right: 0px;

    .home-page-link {

        width: 10rem;
        height: 10rem;
        @media all and (max-width: 800px) {
            width: 5rem;
            height: 5rem;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;

        .home-page-link-glyph {
            width: 3rem;
            height: 3rem;
            margin-bottom: 1rem;
            @media all and (max-width: 800px) {
                width: 2rem;
                height: 2rem;
                margin-bottom: 0rem;
            }
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: cover;

            .subevent-glyphs();
        }

        .home-page-link-title {
            @media all and (max-width: 800px) {
                display: none;
            }

            color: #fff;
            font: 300 20px/20px Open Sans, Arial, Helvetica, sans-serif;
            text-transform: uppercase;
        }
    }
}
